html {
font-family: "Calibri", "Helvetica", sans-serif;


a:hover{
  text-decoration: underline;
}

section,aside {
  float:left;
}

section {
  width: 55%;
<!-- not sure what the heck to add here-->

}


}
